server {
listen 80 default_server;
listen [::]:80 default_server;
server_name {{ item.server }};
root /var/www/{{ item.server }};
index index.html;
try_files $uri /index.html;
}

{% for upstream in upstreams %}
upstream {{upstream.name}} {
  server {{upstream.server}};
  }
{% endfor %}
